table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
}

td.checkbox-row, th.checkbox-row {
  width: 8%;
}

.actions {
  /*display: none;*/
  border: solid red;
}

tr:hover {
  background: #f5f5f5;
  /*display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border: solid red;
  width: 200px;
  overflow: visible;
  flex-direction: row-reverse;
  border: solid red;
  width: 0%;*/
}
/*
tr:hover .actions {
  background: #555555;
  display: flex;
}
*/
td .actions {
  /*
  border: solid green;
  flex: 0 0 400px;
  width: 0%;*/
}

.test-div {
  position: absolute;
  top: 0;
  left: 0;
  border: solid purple;
  width: 100%;
}

.table-container {
  height: 400px;
  overflow: auto;
}

.list-toolbar {
  position: sticky;
  z-index: 99;
  overflow: auto;
}

.list-toolbar .mat-button {
  border-radius: 100%;
  padding: 1px 7px 2px;
  margin-left: 1em;
  min-width: unset;
}

.list-toolbar .mat-checkbox {
  margin-left: 0.5em;
}

.filter-input {
  margin-left: 2em;
  width: 30em;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
/*
.mat-paginator {
  background-color: inherit;
}
*/
