/* To ensure large content will be scaled down for smaller screens */
img, embed, object, video {
  max-width: 100%
}

/* Ensure tap targets are always of the recommended minimum size */
/*
nav, a, button {
		min-width: 48px;
		min-height: 48px;
}
*/

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
}
